@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/**********************************************
*** GENERAL
**********************************************/

:root {
  font-size: 16px;
  --primary-color: #28b9b5;
  --secondary-color: #ff5049;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: none !important;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  color: #333;
  font-family: "Roboto 600", sans-serif;
  font-weight: 400;
  position: relative;
  background-image: repeating-linear-gradient(60deg, #f5f5f5, #fff 15%);

  font-size: 1rem;
  width: 100vw;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-user-select: none;
  zoom: 1;
}

.right {
  float: right;
}
.red {
  color: var(--secondary-color) !important;
}
.red-focus:focus {
  border-color: var(--secondary-color) !important;
}

/**********************************************
*** TOP PART
**********************************************/

.top {
  height: 50vh;
  background-image: linear-gradient(hsla(0, 0%, 0%, 0.65), hsla(0, 0%, 0%, 0.35)),
    url("./images/savings-2789112_1920.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.budget {
  color: #fff;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.budget__title {
  font-size: 2.65rem;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 300;
}

.budget__value {
  font-weight: 300;
  font-size: 2.55rem;
  text-align: center;
  margin-bottom: 1.55rem;
  letter-spacing: 2px;
}

.budget__value i {
  font-size: 1rem;
  vertical-align: middle;
}

.budget__value i:nth-of-type(2) {
  font-size: smaller;
  vertical-align: baseline;
}

.budget__income,
.budget__expenses {
  padding: 0.9rem;
  text-transform: uppercase;
  font-size: 1.22rem;
  letter-spacing: 2px;
  width: 50%;
}

.budget__income {
  margin-bottom: 10px;
  background-color: var(--primary-color);
}

.budget__expenses {
  background-color: var(--secondary-color);
}

.budget__income--text,
.budget__expenses--text {
  float: left;
  font-size: 1.35rem;
  color: #ffffff;
  margin-top: 2px;
  font-weight: 700;
  font-family: "Agency FB", sans-serif;
}

.budget__income--value,
.budget__expenses--value {
  letter-spacing: 1px;
  float: left;
  font-size: 1.3rem;
  font-weight: 600;
}

.budget__income--value i,
.budget__expenses--value i {
  font-size: 0.85rem;
  vertical-align: middle;
}

.budget__income--value i:nth-of-type(2),
.budget__expenses--value i:nth-of-type(2) {
  font-size: 1.2rem;
  vertical-align: baseline;
}

.budget__income--percentage,
.budget__expenses--percentage {
  float: left;
  width: 40px;
  font-size: 0.8rem;
  padding: 3px 0;
  margin-left: 10px;
}

.budget__expenses--percentage {
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  border-radius: 3px;
}

/**********************************************
*** BOTTOM PART
**********************************************/

/***** FORM *****/
.add {
  padding: 1rem;
  border-bottom: 3px solid #e7e7e7;
  background-color: #eee;
  background-image: linear-gradient(315deg, #fdfbfb, #ebedee);
}

.add__container {
  margin: 0 auto;
  text-align: center;
}

.add__type {
  width: 55px;
  border: 1px solid #e7e7e7;
  height: 44px;
  font-size: 1.22rem;
  color: inherit;
  background-color: #fff;
  margin-right: 10px;
  font-weight: 300;
  transition: border 0.3s;
}

.add__description,
.add__value {
  border: 1px solid #e7e7e7;
  background-color: #fff;
  color: inherit;
  font-family: inherit;
  font-size: 1.22rem;
  padding: 12px 15px;
  margin-right: 10px;
  border-radius: 5px;
  transition: border 0.3s;
}

.add__description {
  width: 40%;
}

.add__value {
  width: 110px;
}

.add__btn {
  font-size: 2.7rem;
  background: none;
  border: none;
  color: var(--primary-color);
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.1;
  margin-left: 10px;
}

.add__btn:active {
  transform: translateY(2px);
}

.add__type,
.add__description,
.add__value {
  border: 2px solid transparent;
  font-family: monospace, sans-serif;
}

.add__type:focus,
.add__description:focus,
.add__value:focus {
  outline: none;
  border-color: var(--primary-color);
}

/***** LISTS *****/
.container {
  width: 70%;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  margin: 60px auto;
  position: relative;
}

.income {
  flex: 1;
  margin-right: 50px;
}

.expenses {
  flex: 1;
}

h2 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 15px;
}

.income .income__title,
.expenses .expenses__title {
  text-align: center;
  font-size: 1.35rem;
}

.income__title {
  color: var(--primary-color);
}
.expenses__title {
  color: var(--secondary-color);
}

.income .item {
  border-bottom: 1px ridge var(--primary-color);
}

.expenses .item {
  border-bottom: 1px ridge var(--secondary-color);
}

.item {
  padding: 13px;
  display: flex;
  font-family: "Poppins";
}

.income .item:first-child {
  border-top: 1px ridge var(--primary-color);
}

.expenses .item:first-child {
  border-top: 1px ridge var(--secondary-color);
}

.item:nth-child(even) {
  background-color: #f7f7f7;
}

.item__description,
.item__value {
  font-size: 1.2rem;
}

.item__description {
  flex: 1;
}

.item__value {
  transition: transform 0.3s;
  font-variant-numeric: diagonal-fractions;
}

.item__value i {
  font-size: 0.8rem;
  vertical-align: middle;
}

.item__value i:nth-of-type(2) {
  font-size: inherit;
  vertical-align: baseline;
  margin-left: 1.5px;
}

.item__percentage {
  transition: transform 0.3s;
  font-size: 1rem;
  background-color: #ffdad9;
  padding: 3px;
  border-radius: 3px;
  width: fit-content;
  text-align: center;
}

.income .item__value,
.income .item__delete--btn {
  color: var(--primary-color);
}

.expenses .item__value,
.expenses .item__percentage,
.expenses .item__delete--btn {
  color: var(--secondary-color);
}

.item__percentage,
.item__value,
.item__delete {
  display: inline-block;
}

.item__delete--btn {
  font-size: 1.65rem;
  background: none;
  border: none;
  cursor: pointer;
  vertical-align: middle;
  transition: opacity 0.3s;
  opacity: 0;
}

.item__delete--btn:active {
  transform: translateY(2px);
}

.item:hover .item__delete--btn {
  opacity: 1;
}

.item:hover .item__value {
  transform: translateX(-20px);
}

.item:hover .item__percentage {
  transform: translateX(-20px);
}

.unpaid {
  background-color: #ffdad9 !important;
  cursor: pointer;
  color: var(--secondary-color);
}

.unpaid .item__percentage {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
}

.unpaid:hover .item__description {
  font-weight: 900;
}

.message {
  position: fixed;
  left: 10px;
  bottom: -100%;
  width: fit-content;
  background-color: #333;
  color: #f5f5f5;
  transition: bottom 0.3s;
  text-transform: uppercase;
  padding: 0.5rem;
  border-radius: 6px;
}

.message.active {
  bottom: 10%;
}

@media only screen and (max-width: 991px) {
  .container {
    width: 100%;
  }

  .budget__income,
  .budget__expenses {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    flex-wrap: wrap;
  }

  .income,
  .expenses {
    flex: 1 0 80% !important;
    max-width: 80% !important;
    margin: 0 auto;
  }

  .income {
    margin-bottom: 4rem !important;
  }
}

@media only screen and (max-width: 600px) {
  :root {
    font-size: 14px !important;
  }

  .budget__title {
    font-size: 2.4rem !important;
  }

  .budget__income,
  .budget__expenses {
    width: 90% !important;
  }

  .container {
    flex-wrap: wrap;
  }

  .income,
  .expenses {
    flex: 1 0 80% !important;
    max-width: 80% !important;
    margin: 0 auto;
  }

  .income {
    margin-bottom: 4rem !important;
  }

  .income .income__title,
  .expenses .expenses__title {
    text-align: center;
  }

  .add__description {
    width: 75% !important;
    margin-bottom: 1rem !important;
  }

  .add__type,
  .add__description,
  .add__value {
    font-weight: 600;
  }

  .add__value {
    width: 75% !important;
    margin-left: 9px;
  }

  .add__type {
    font-size: 1.7rem !important;
  }

  .add__btn {
    float: left;
    margin-top: 7px;
    margin-left: 28px !important;
  }

  .add__description,
  .add__value {
    font-size: 1.42rem;
  }

  .income .income__title,
  .expenses .expenses__title {
    font-size: 1.5rem !important;
  }

  .item__description,
  .item__value {
    font-size: 1.42rem !important;
  }
}
